<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data Cadastro</th>
                            <th>Valido Até</th>
                            <th>Tolerancia até</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>$320,800</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>$170,750</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>$86,000</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>$433,060</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>$162,700</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>$372,000</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Herrod Chandler</td>
                            <td>Sales Assistant</td>
                            <td>San Francisco</td>
                            <td>$137,500</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Rhona Davidson</td>
                            <td>Integration Specialist</td>
                            <td>Tokyo</td>
                            <td>$327,900</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Colleen Hurst</td>
                            <td>Javascript Developer</td>
                            <td>San Francisco</td>
                            <td>$205,500</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Sonya Frost</td>
                            <td>Software Engineer</td>
                            <td>Edinburgh</td>
                            <td>$103,600</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Jena Gaines</td>
                            <td>Office Manager</td>
                            <td>London</td>
                            <td>$90,560</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Quinn Flynn</td>
                            <td>Support Lead</td>
                            <td>Edinburgh</td>
                            <td>$342,000</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Charde Marshall</td>
                            <td>Regional Director</td>
                            <td>San Francisco</td>
                            <td>$470,600</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Haley Kennedy</td>
                            <td>Senior Marketing Designer</td>
                            <td>London</td>
                            <td>$313,500</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Tatyana Fitzpatrick</td>
                            <td>Regional Director</td>
                            <td>London</td>
                            <td>$385,750</td>
                            <td>obs</td>
                        </tr>
                        <tr>
                            <td>Michael Silva</td>
                            <td>Marketing Designer</td>
                            <td>London</td>
                            <td>$198,500</td>
                            <td>obs</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="~/Theme/TemaSMC/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/Theme/TemaSMC/assets/js/init/datatables-init.js"></script>


<script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
</script>