<section class="menu cid-qyXbdnYc0C" once="menu" id="menu3-40" data-rv-view="2429">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="navbar-brand">
            <span class="navbar-caption-wrap">
                <a class="navbar-caption text-white display-5" href="#">
                    SMC
                </a>
            </span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span style="color: #FFF;">Seu patrocinador: <span style="font-weight: bold;">admin</span></span>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-white-outline display-10" href="">MEU CARRINHO</a>
                <a class="btn btn-sm btn-white-outline display-10" href="@Url.Action("Index","Login")">LOGIN</a>                    '
            </div>
        </div>
    </nav>
</section>
